<div class="container noArticles-container-styling bg-white">
    <div class="row">
        <div class="col-12 noArticles-column-styling">
            <i class="fas fa-exclamation-triangle noArticles-icon-styling"></i>
            <p class="noArticles-text-styling">Oops, looks like no articles were found.</p>
        </div>
    </div>
</div>